<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Attendance Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>

    <!-- Navigation Bar -->
    <nav class="navbar">
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}" class="main-logo">
        </div>
        <ul class="nav-links">
            <li><a href="/student/auth">Student auth</a></li>
            <li><a href="/teacher/auth">Teacher Login</a></li>
            <li><a href="/admin/auth">Admin Login</a></li>
        </ul>


    </nav>

    <header>Student Attendance Management System</header>

    <!-- About Section -->
    <section class="about">
        <h2>About the Student Attendance Management System</h2>
        <p>
            This system helps schools and colleges manage student attendance digitally.
            Teachers can easily mark attendance, students can check their records,
            and admins can monitor overall activity. It reduces paperwork and
            improves accuracy.
        </p>
        <img src="{{ url_for('static', filename='images/campus.png') }}" class="about-img">

    </section>



</body>

</html>